<header class="header card-shadow card-hover-shadow">
    <div class="">
        <div class="">
            <!-- Navbar for PC -->
            <nav class="header__navbar">
                <div class="navbar-block">
                    <ul class="navbar-list">
                        <div class="navbar-logo">
                            <a href="/" class="navbar-logo-link">
                                <img onerror="this.src='/img/error-image.jpg'" src="" alt=""
                                    class="navbar-logo-img">
                            </a>
                        </div>
                    </ul>
                </div>

                <div class="navbar-block navbar-list-block navbar__pc">
                    <ul class="navbar-list nav-center">
                        <li class="navbar-item navbar-item-block-1 elements-item--has-list">
                            <a href="" class="navbar-item-link">
                                Men
                                <i class="navbar-icon fa fa-plus"></i>
                            </a>
                            <div class="home-elements">
                                <ul class="list-elements">
                                    <li class="elements-item">
                                        <a href="/products/{{ product.slug }}" class="elements-link">
                                            <div class="elements-info">
                                                <span class="elements-name">
                                                    Jordan 1
                                                </span>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="elements-item">
                                        <a href="" class="elements-link">
                                            <div class="elements-info">
                                                <span class="elements-name">
                                                    Item 2
                                                </span>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="elements-item">
                                        <a href="" class="elements-link">
                                            <div class="elements-info">
                                                <span class="elements-name">
                                                    Item 3
                                                </span>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="elements-item">
                                        <a href="" class="elements-link">
                                            <div class="elements-info">
                                                <span class="elements-name">
                                                    Item 4
                                                </span>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="elements-item">
                                        <a href="" class="elements-link">
                                            <div class="elements-info">
                                                <span class="elements-name">
                                                    Item 5
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="navbar-item navbar-item-block-1 elements-item--has-list">
                            <a href="" class="navbar-item-link">
                                Women
                                <i class="navbar-icon fa fa-plus"></i>
                            </a>

                            <div class="home-elements">
                                <ul class="list-elements">
                                    <li class="elements-item">
                                        <a href="/products/{{ product.slug }}" class="elements-link">
                                            <div class="elements-info">
                                                <span class="elements-name">
                                                    Jordan 4
                                                </span>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="elements-item">
                                        <a href="" class="elements-link">
                                            <div class="elements-info">
                                                <span class="elements-name">
                                                    Item 2
                                                </span>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="elements-item">
                                        <a href="" class="elements-link">
                                            <div class="elements-info">
                                                <span class="elements-name">
                                                    Item 3
                                                </span>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="elements-item">
                                        <a href="" class="elements-link">
                                            <div class="elements-info">
                                                <span class="elements-name">
                                                    Item 4
                                                </span>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="elements-item">
                                        <a href="" class="elements-link">
                                            <div class="elements-info">
                                                <span class="elements-name">
                                                    Item 5
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="navbar-item navbar-item-block-1">
                            <a href="" class="navbar-item-link">
                                Sale
                                <i class="navbar-icon fa fa-plus"></i>
                            </a>
                        </li>
                        <li class="navbar-item navbar-item-block-1">
                            <a href="" class="navbar-item-link">
                                Contact Us
                                <i class="navbar-icon fa fa-plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="navbar-block navbar__pc">
                    <ul class="navbar-list">
                        {{!-- Search box --}}
                        <form class="search-form" action="">
                            <div class="search">
                                <div class="search-input-wrap">
                                    <input type="text" name="q" class="search-input" id="search-input-id"
                                        placeholder="Search...">


                                    <!-- Search History -->
                                    {{!-- <div class="search-history">
                                        <ul class="search-history-list">
                                            <li class="search-history-item">
                                                <a href="">Item 1</a>
                                            </li>

                                            <li class="search-history-item">
                                                <a href="">Item 2</a>
                                            </li>

                                            <li class="search-history-item">
                                                <a href="">Item 3</a>
                                            </li>
                                        </ul>
                                    </div> --}}
                                </div>

                                <button type="submit" class="search-btn">
                                    <i class="search-btn-icon fas fa-search"></i>
                                </button>
                        </form>
                        {{!-- Ex: Type Nike Air into the search box => Query http://localhost:3000/search?q=Nike%20Air
                        --}}
                </div>

                <label class="navbar-item">
                    <a href="/register" class="btn-register-link">
                        <button class="btn-register btn-style">
                            Register
                        </button>
                    </a>
                </label>

                <label class="navbar-item">
                    <a href="/login" class="btn-login-link">
                        <button class="btn-login btn-style">
                            Login
                        </button>
                    </a>
                </label>
                </ul>
        </div>

        <!-- Navbar for Mobile -->
        <label for="navbar-mobile-input" class="header__navbar navbar__bars-btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                <path
                    d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z" />
            </svg>
        </label>

        <input type="checkbox" hidden name="" class="navbar__input" id="navbar-mobile-input">

        <label for="navbar-mobile-input" class="nav__overlay"></label>

        <div class="nav__mobile">
            <label for="navbar-mobile-input" class="nav__mobile-close">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                    <path
                        d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z" />
                </svg>
            </label>

            <ul class="navbar-mobile-list">
                <li class="navbar-mobile-item navbar-item-block-1">
                    <a href="" class="navbar-item-mobile-link">
                        Men
                        <i class="navbar-icon fa fa-plus"></i>
                    </a>
                </li>
                <li class="navbar-mobile-item navbar-item-block-1">
                    <a href="" class="navbar-item-mobile-link">
                        Women
                        <i class="navbar-icon fa fa-plus"></i>
                    </a>
                </li>
                <li class="navbar-mobile-item navbar-item-block-1">
                    <a href="" class="navbar-item-mobile-link">
                        Sale
                        <i class="navbar-icon fa fa-plus"></i>
                    </a>
                </li>
                <li class="navbar-mobile-item navbar-item-block-1">
                    <a href="" class="navbar-item-mobile-link">
                        Contact Us
                        <i class="navbar-icon fa fa-plus"></i>
                    </a>
                </li>
            </ul>
        </div>
        </nav>
    </div>
    </div>
</header>