<div class="" style="margin-top: 100px;">
    {{!-- {{#each banners}}
    <img onerror="this.src='/img/error-image.jpg'" src="{{ this.banner_image }}" alt="{{ this.banner_image }}"
        width="100%">
    {{/each}} --}}

    <img onerror="this.src='/img/error-image.jpg'" src="/img/banner.jpg" alt="banner" width="100%">

</div>

<div class="container center-layout card-style" style="margin-bottom: 20px;">
    <div class="row">

        {{#each products}}
        <div class="card-banner col-md-6">
            <div class="card card-shadow card-hover-shadow">
                <img class="img-card-style" onerror="this.src='/img/error-image.jpg'" src="{{ this.image }}"
                    alt="{{ this.name }}">
                <div class="card-body intro-card">
                    <h4 class="h4-normal-size">{{ this.name }}</h4>
                    <p class="text-size-standard">{{ this.description }}</p>
                    <a href="/products/{{ this.slug }}" class="btn-style border-btn text-size-standard"
                        style="text-decoration: none;">Detail</a>

                    <a href="/products/{{ this._id }}/edit" class="btn-style border-btn text-size-standard"
                        style="text-decoration: none; margin-left: 255px">Edit</a>

                    <a href="/products/" class="btn-style border-btn text-size-standard"
                        style="text-decoration: none; margin-left: 10px;" data-toggle="modal" data-id="{{ this._id }}"
                        data-target="#delete-product-modal">Delete</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

{{!-- Confirm delete product --}}
<div class="modal fade" id="delete-product-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete product?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the product?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn-delete-product" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}

<form name="delete-product-form" method="POST"></form>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var productId;
        var deleteForm = document.forms['delete-product-form'];
        var btnDeleteProduct = document.getElementById('btn-delete-product');

        // When dialog confirm clicked
        $('#delete-product-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            productId = button.data('id');
        });

        btnDeleteProduct.onclick = function () {
            deleteForm.action = '/products/' + productId + '?_method=DELETE';
            deleteForm.submit();
        }
    });
</script>