<div class="" style="margin-top: 100px;">
    {{!-- {{#each banners}}
    <img onerror="this.src='/img/error-image.jpg'" src="{{ this.banner_image }}" alt="{{ this.banner_image }}" width="100%">
    {{/each}} --}}

    <img onerror="this.src='/img/error-image.jpg'" src="/img/banner.jpg" alt="banner" width="100%">

</div>

<div class="container center-layout card-style" style="margin-bottom: 20px;">
    <div class="row">

        {{#each products}}
        <div class="card-banner col-md-6">
            <div class="card card-shadow card-hover-shadow">
                <img class="img-card-style" onerror="this.src='/img/error-image.jpg'" src="{{ this.image }}" alt="{{ this.name }}">
                <div class="card-body intro-card">
                    <h4 class="h4-normal-size">{{ this.name }}</h4>
                    <p class="text-size-standard">{{ this.description }}</p>
                    <a href="/products/{{ this.slug }}" class="btn-style border-btn text-size-standard"
                        style="text-decoration: none;">Detail</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>