<div class="container account-form border">
    <div class="header-login-form">
        <h2>LOG IN</h2>
    </div>

    <form id="login-form" action="" method="post" role="form" class="input-account-infor">
        <input type="text" id="username" placeholder="username">
        <input type="password" id="password" placeholder="password">
    </form>

    <div class="btn-account-login">
        <button type="login" class="btn btn-outline-info">Login</button>
    </div>

    <div class="link-forgot-pass">
        <a href="">Forgotten password?</a>
    </div>

    <div class="separation-line">
        <div class="line"></div>
    </div>

    <div class="btn-account-register">
        <a href="/register">
            <button class="btn btn-outline-success">Register</button>
        </a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>
		$('.message a').click(function(){
			$('form').animate({height: "toggle", opacity: "toggle"}, "slow");
		});
    </script>

<script>
    var correct_user = "dattruong";
    var correct_pass = "211000";

    var inputUsername = document.getElementById("username");
    var inputPassword = document.getElementById("password");

    var LoginForm = document.getElementById("login-form");

    if (LoginForm.attachEvent) {
        LoginForm.attachEvent("submit", onFormSubmit);
    } else {
        LoginForm.addEventListener("submit", onFormSubmit);
    }

    function onFormSubmit(e) {
        var username = inputUsername.value;
        var password = inputPassword.value;

        if (username == correct_user && password == correct_pass) {
            alert("Logged in successfully!!!");
        } else {
            alert("Login failed!!!");
        }
    }
</script>