<div class="product-details" style="margin-top: 100px;">
    <h1 class="product-title">Off-White x Air Jordan 4 “Sail” – Mẫu giày xinh đẹp dành cho phái nữ</h1>

    <p class="text-product-details">Ngay sau khi ra mắt tại show diễn thời trang Thu – Đông 2020, Off-White chính thức
        tung những hình ảnh cận cảnh đầu tiên của phiên bản colab Off-white x Air Jordan 4 “Sail” với giá bán $200 USD.
    </p>

    <p class="text-product-details">Dựa trên bản sample đã được Giám đốc sáng tạo Virgil Abloh giới thiệu tại MCA
        Chicago “Figures of Speech”, mẫu sneaker này được chính thức ra mắt với hệ thống size dành riêng cho nữ giới với
        tông màu “Sail” nữ tính và thanh lịch. </p>

    <img class="product-image" onerror="this.src='/img/error-image.jpg'" src="/img/product2-images/1.jpg" alt="Off-White x Air Jordan 4 “Sail””">

    <p class="text-product-details">Khác với sự phá cách của Off-White x Air Jordan 5, phiên bản Air Jordan 4 này giữ
        nguyên vẹn thiết kế của bản original bằng việc nói không với các chi tiết cut-out hay họa tiết bên trong giày.
        Thay vào đó, toàn bộ phần upper được sử dụng da nubuck (da mịn) với tông màu vàng kem điểm xuyết các chi tiết
        bằng nhựa cùng tông vàng nhưng sáng hơn hoặc sẫm màu hơn tạo nên tổng thể phối hợp nhiều tông vàng khác nhau hài
        hòa và thống nhất nhưng không đơn điệu, nhàm chán. Phần dây giày in dòng chữ “SHOELACES” với font chữ Helvetica
        quen thuộc của
        Off-White cùng với tag treo có logo jumpman và AIR cũng làm nên những điểm nhấn iconic quen thuộc. </p>

    <img class="product-image" onerror="this.src='/img/error-image.jpg'" src="/img/product2-images/2.jpg" alt="Off-White x Air Jordan 4 “Sail”">
    <img class="product-image" onerror="this.src='/img/error-image.jpg'" src="/img/product2-images/3.jpg" alt="Off-White x Air Jordan 4 “Sail”">
    <img class="product-image" onerror="this.src='/img/error-image.jpg'" src="/img/product2-images/4.jpg" alt="Off-White x Air Jordan 4 “Sail”">
    <img class="product-image" onerror="this.src='/img/error-image.jpg'" src="/img/product2-images/5.jpg" alt="Off-White x Air Jordan 4 “Sail”">
    <img class="product-image" onerror="this.src='/img/error-image.jpg'" src="/img/product2-images/6.jpg" alt="Off-White x Air Jordan 4 “Sail”">

    <p class="text-product-details">Off-White x Air Jordan 4 “Sail” sẽ được ra mắt trên thị trường vào mùa hè 2020 với
        giá retail là $200 USD. </p>
</div>