<div class="product-details" style="margin-top: 100px;">
    <h1 class="product-title">Air Jordan 1 Mid “Chicago Black Toe” cận kề ngày ra mắt</h1>

    <p class="text-product-details">Chẳng cần phải bàn tán nhiều khi độ heat của phối màu "Chicago" là vô cùng cuốn hút,
        xuất hiện lần đầu trên những
        phiên bản OG. Nike Air Jordan 1 "Chicago" là một tượng đài vững chắc tạo nên Jordan brand. Để mang một chút khác
        lạ tới cộng đồng Sneakerhead, Nike và Jordan brand đã mang lại phiên bản đặc biệt Air Jordan 1 Mid "Chicago
        Black Toe" với những đổi mới tuy nhỏ nhưng vẫn không hề giảm độ heat của đôi giày. </p>

    <p class="text-product-details">Cập nhật (3/3): Phiên bản Air Jordan 1 Mid “Chicago Black Toe” đã được đăng bán tại
        cửa hàng here on Eastbay với
        giá bán $115. </p>

    <img class="product-image" onerror="this.src='/img/error-image.jpg'" src="/img/product-images/1.jpg" alt="Air Jordan 1 Mid “Chicago Black Toe”">

    <p class="text-product-details">Phiên bản Nike Air Jordan 1 Mid "Chicago Black Toe" được dựa trên phiên bản OG
        "Chicago" thần thánh, với phối màu đỏ, trắng và đen làm chủ đạo. Phiên bản Mid có cách phối màu có phần khác so
        với phiên bản OG "Chicago" khi phần đế ngoài được thay đổi từ đỏ sang đen, và phần mũi giày được lên tông màu
        đen đúng với cái tên của đôi giày, "Chicago Black Toe". Ngoài ra, Nike Air Jordan 1 Mid "Chicago Black Toe" vẫn
        được trang bị những chi tiết vô cùng cao cấp như da, nylon ở phần lưỡi gà, và phần đế cao su. </p>

    <img class="product-image" onerror="this.src='/img/error-image.jpg'" src="/img/product-images/2.jpg" alt="Air Jordan 1 Mid “Chicago Black Toe”">
    <img class="product-image" onerror="this.src='/img/error-image.jpg'" src="/img/product-images/3.jpg" alt="Air Jordan 1 Mid “Chicago Black Toe”">
    <img class="product-image" onerror="this.src='/img/error-image.jpg'" src="/img/product-images/4.jpg" alt="Air Jordan 1 Mid “Chicago Black Toe”">
    <img class="product-image" onerror="this.src='/img/error-image.jpg'" src="/img/product-images/5.jpg" alt="Air Jordan 1 Mid “Chicago Black Toe”">
    <img class="product-image" onerror="this.src='/img/error-image.jpg'" src="/img/product-images/6.jpg" alt="Air Jordan 1 Mid “Chicago Black Toe”">
    <img class="product-image" onerror="this.src='/img/error-image.jpg'" src="/img/product-images/7.jpg" alt="Air Jordan 1 Mid “Chicago Black Toe”">

    <p class="text-product-details">Phiên bản Nike Air Jordan 1 Mid "Chicago Black Toe" sẽ dự kiến ra mắt trong vài tuần
        tới với giá bán $115. Theo trang SNS, họ đã cập nhật hình ảnh của phiên bản này lên trang bán hàng, dự kiến sẽ
        chính thức bán ra trong vài ngày tới. </p>
</div>