<div class="container account-form border">
        <div class="header-login-form">
            <h2>REGISTER</h2>
        </div>

        <div class="input-account-infor">
            <input type="text" placeholder="email">
            <input type="text" placeholder="username">
            <input type="password" placeholder="password">
        </div>

        <div class="btn-account-register">
            <button class="btn btn-outline-success">Register</button>
        </div>

        <div class="link-forgot-pass" style="margin-bottom: 15px;">
            <span>Have an account? <a href="/login" class="btn-account-login">Log in</a></span>
        </div>
</div>