<div class="mt-4" style="margin-bottom: 120px;">
    <h3 style="margin-top: 100px;">Post Product</h3>
    <form class="mt-4" method="POST" action="/products/store">
        <div class="row mb-3 form-group">
            <label for="name" class="col-sm-2 col-form-label">Product</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name">
            </div>
        </div>

        <div class="row mb-3 form-group">
            <label for="description" class="col-sm-2 col-form-label">Product Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="description" name="description"></textarea>
            </div>
        </div>

        <div class="row mb-3 form-group">
            <label for="image" class="col-sm-2 col-form-label">Product Image</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="image" name="image">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
</div>