<div class="mt-4">
    <h3 style="margin-top: 100px;">Update Product</h3>
    <form class="mt-4" method="POST" action="/products/{{product._id}}?_method=PUT">
        <div class="row mb-3 form-group">
            <label for="name" class="col-sm-2 col-form-label">Product</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" value="{{product.name}}" id="name" name="name">
            </div>
        </div>

        <div class="row mb-3 form-group">
            <label for="description" class="col-sm-2 col-form-label">Product Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="description" name="description">{{product.description}}</textarea>
            </div>
        </div>

        <div class="row mb-3 form-group">
            <label for="image" class="col-sm-2 col-form-label">Product Image</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" value="{{product.image}}" id="image" name="image">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>