<div class="product-details" style="margin-top: 100px;">
    <h1 class="product-title">{{ product.name }}</h1>

    <p class="text-product-details">
        {{ product.paragraph1 }}
    </p>

    <p class="text-product-details">
        {{ product.paragraph2 }}    
    </p>

    <img class="product-image" onerror="this.src='/img/error-image.jpg'" src="{{ product.productImage1 }}" alt="Off-White x Air Jordan 4 “Sail””">

    <p class="text-product-details">
        {{ product.paragraph3 }}
    </p>

    <img class="product-image" onerror="this.src='/img/error-image.jpg'" src="{{ product.productImage2 }}" alt="Off-White x Air Jordan 4 “Sail”">
    <img class="product-image" onerror="this.src='/img/error-image.jpg'" src="{{ product.productImage3 }}" alt="Off-White x Air Jordan 4 “Sail”">
    <img class="product-image" onerror="this.src='/img/error-image.jpg'" src="{{ product.productImage4 }}" alt="Off-White x Air Jordan 4 “Sail”">
    <img class="product-image" onerror="this.src='/img/error-image.jpg'" src="{{ product.productImage5 }}" alt="Off-White x Air Jordan 4 “Sail”">
    <img class="product-image" onerror="this.src='/img/error-image.jpg'" src="{{ product.productImage6 }}" alt="Off-White x Air Jordan 4 “Sail”">

    <p class="text-product-details">
        {{ product.paragraph4 }}
    </p>
</div>